* {
    font-family: cursive;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

.foto {
    min-height: 60vh;
    background-image: url("../imges/1.jpeg");
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    box-sizing: border-box;
    position: relative;
    align-content: center;
}

.imgonimg {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    z-index: 1;
}

.imgonimg img {
    display: inline;
    overflow: hidden;
    border-radius: 50%;
    margin: 10px;
    width: 200px;
    border: solid;
    height: 200px;
    transition: 0.7s;
}

.imgonimg img:hover {
    transform: scale(1.1);
}

.overlay {
    background-color: #252424ad;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    overflow: hidden;
    z-index: 1;
}

@media(max-width:450px) {
    .imgonimg {
        display: block;
        text-align: center;
    }

    .imgonimg img {
        margin: 10px !important;
    }
}